# Ignore Mac system files
# In the Apple macOS operating system, .DS_Store is a file that stores custom attributes of its containing folder
# Such as the position of icons or the choice of a background image.
# The name is an abbreviation of Desktop Services Store, reflecting its purpose.
# [REF] https://en.wikipedia.org/wiki/.DS_Store
.DS_store

# Saving Results for BC Publications
BC_results

# Ignoring General Results of the Simulation
results

# Virtual Environment
.venv
videos

# vscode settins
.vscode

# Temporary File which will be discarded.
tmp

# [LEGACY] Backup 
backup

# NE Colleagues Data
Sim2Exp_Shared_NE

# Ignoring the pycache files, which are compiled .py files
__pycache__
